<% if user_signed_in? %>
	# show them shit here
<% else %>
<div class="hero-unit">
		<h1>Welcome to Piston Port</h1>
		<p><%= link_to "Piston Port", "http://pistonport.com" %></p>
		<p>An online moped community</p>
		<p><%= link_to "sign up", new_user_registration_path, class: "btn btn-primary btn-large" %></p>
</div>
<% end %>