<div class="container">
	<div class="hero-unit">
		<h1>About</h1>
		<p>
			<%= link_to "Piston Port", "http://pistonport.com"%>
			is an online moped community. This is the sample application.
		</p>
	</div>
</div>