
<h1>Welcome to Piston Port</h1>
<p>
	An online moped community
</p>

<p>
	<%= link_to "sign up", "#" %>
</p>

<p>
	<%= link_to "Piston Port", "http://pistonport.com" %>
</p>

<div class="footer">
</div>
