/*@import url(http://fonts.googleapis.com/css?family=Oxygen);
$baseFontFamily: Oxygen;
*/

$navbarBackgroundHighlight: white;
$navbarBackground: white;

$btnPrimaryBackground: green;

@import 'bootstrap';

body {
	padding: 60px 0;
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}
.footer {
	margin-top: 50px;
	color: $grayLight;
}

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.2);
	   -moz-box-shadow: 1px 1px 10px rgba(0,0,0,.2);
	        box-shadow: 1px 1px 10px rgba(0,0,0,.2);
	width: 214px;
}

.box img {
	display: block;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	width: 100%;
}

.description {
	margin: 10px 0 5px;
}